<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Home </title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">  
</head>

<body>
    <div th:replace="~{navbar::navbar1}"></div>

    <div class="display-4 text-center my-4">
        Service Engagement Platform
    </div>

	<div class="container">
		<p class="intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis eveniet magni, quod
        voluptas doloremque. Nulla blanditiis velit neque dicta ducimus minima, placeat, in reiciendis natus accusantium
        corrupti est aliquid possimus voluptatem incidunt. Adipisci voluptatum autem, quaerat voluptatibus temporibus
        nihil cum maxime, eum nam et totam! Officia, nesciunt magni excepturi eos ipsa quod laborum obcaecati numquam
        nemo magnam sequi doloremque beatae sed. Neque praesentium ipsum facilis pariatur similique suscipit illum cum
        corrupti autem fugit animi quae illo eos dolorem ab quod ullam totam laudantium, quibusdam impedit dolor!
        Ducimus labore distinctio magni voluptates id, aliquam, minus, quis quam porro enim ut.</p>
	</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>